.todolist{
  max-width: 500px;
  margin: 48px auto 24px auto;
  padding: 0 12px;
  h1{
    text-align: center;
    font-family: 'Baloo Tammudu 2';
    font-weight: 700;
    font-size: 48px;
    color: $secondary;
    letter-spacing: 8.75px;
    margin-bottom: 26px;
  }
  .top{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    input{
      border-radius: 10px;
      padding: 12px 0;
      font-size: 16px;
      padding-left: 24px;
      font-family: NotoSans;
      color: $color_dark_gray;
      border: none;
      width: 90%;
      letter-spacing: 0.7px;
    }
    .add{
      width: 40px;
      height: 40px;
      background-color: $secondary;
      margin: 4px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 32px;
      color: white;
      position: relative;
      p{
        position: absolute;
        top: -7px;
        left: 11px;
        vertical-align: middle;
      }
    }
  }
  .bottom{
    margin-top: 10px;
    margin-bottom: 92px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    ul.category {
      display: flex;
      li{
        width: calc(100% / 3);
        text-align: center;
        font-size: 14px;
        font-weight: 500px;
        color: $secondary;
        letter-spacing: 0.7px;
        padding: 16px 0px;
        border-bottom: solid 2px $color_gray;
        color: $color_dark_gray;
      }
      .bb-1{
        border-bottom: solid 2px $secondary;
        color: $secondary;
      }
    }
    ul.list{
      margin-top: 24.5px;
      li{
        display: flex;
        width: 425px;
        margin: 0px 16px 16px 24px;
        padding-bottom: 17px;
        img{
          opacity: 0.1;
          cursor: pointer;
          margin-left: 16px;
          &:hover{
            opacity: 1;
          }
        }
        .checkbox{
          width: 20px;
          height: 20px;
          margin-right: 16px;
          border-radius: 5px;
          border: 1px solid $secondary;
          cursor: pointer;
          .material-icons{
            font-size: 18px;
            font-weight: 600;
            color: $primary;
            width: 20px;
            height: 20px;
            text-align: center;
            margin-right: 16px;
            opacity: 0;
          }
        }
        .done{
          border: none;
          .material-icons{
            opacity: 1;
          }
        }
        h2{
          font-size: 16px;
          color: $secondary;
          letter-spacing: 0.62px;
          width: 392px;
          border-bottom: solid 1px $color_gray;
          padding-bottom: 17px;
          @media screen and(max-width: 500px) {
            width: 50%;
          }
        }
        .clear{
          color: rgba(#333333, 0.3);
          text-decoration: line-through;
        }
        img{
          width: 16px;
          height: 16px;
          margin-left: 16px;
          text-align: center;
          opacity: 0.1;
          cursor: pointer;
        }
      }
    }
    ul.summary{
      display: flex;
      justify-content: space-between;
      margin: 8px 47px 0px 24px;
      padding-bottom: 32px;
      font-size: 14px;
      letter-spacing: 0.7px;
      color: $secondary;
      .clear{
        cursor: pointer;
        color: $color_dark_gray;
      }
    }
  }
}
