body{
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  background-image: linear-gradient(
    174deg,
    #ffd370 2%,
    #ffd370 46%,
    #fff 46%,
    #fff 100%,
    #e8e8e8 100%
  );
}
