body {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  min-height: 100vh;
  background: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%)
}