body{
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  background: linear-gradient(174deg, #ffd370 2%, #ffd370 46%, #ffffff 46%, #ffffff 100%, #e8e8e8 100%);
}
